#######################################
# Binaries & Executáveis
#######################################
gojinn
gojinn-server
caddy
*.exe
*.dll
*.so
*.dylib
*.test
*.zip

#######################################
# Build Artifacts / Output
#######################################
bin/
build/
obj/
lib/
tmp/
functions/*.wasm

#######################################
# WASM
#######################################
*.wasm
!examples/**/*.wasm
.wasi-sdk/

#######################################
# Go
#######################################
vendor/
go.work
go.work.sum

#######################################
# Caddy
#######################################
Caddyfile
caddy_data/
caddy_config/
autosave.json

#######################################
# Databases
#######################################
*.db
*.sqlite
*.sqlite3

#######################################
# Logs
#######################################
*.log

#######################################
# Python
#######################################
__pycache__/
*.pyc

#######################################
# IDEs & Editors
#######################################
.vscode/
.idea/
*.user
*.suo

#######################################
# OS
#######################################
.DS_Store
Thumbs.db
